*.d
*.o
*.root
*.root.bk
*.tex
*.xml.bk
*Class.C
*Class.h
NtupleContent/*
NtupleOutput/*
Ntupler_an_Isis.cc
OutputPlots/*
Plots*/*
TransferFunctions/*.txt
TransferFunctions_TABLE.txt
Trigger/*.txt
Trigger/Makefile
data*txt
eqLumi.txt
localgridSubmission/SubmitScripts/**
negWeights/
negWeightsCalculator
nohup*.txt
output*/
test*/*
NtupleAnalyser
Ntupler
testAnalyser
testAnalyserTTbarOnly
testMatching
testGenJets
testSkims
testTFs
testWeights
