*.d
*.o
*.root
*.root.bk
*.tex
*.xml.bk
*Class.C
*Class.h
Ntupler_an_Isis.cc
Plots*/*
TransferFunctions/*.txt
TransferFunctions_TABLE.txt
Trigger/*.txt
Trigger/Makefile
data*txt
eqLumi.txt
localgridSubmission/SubmitScripts/**
negWeights/
negWeightsCalculator
nohup*.txt
output*/
NtupleAnalyser
Ntupler
testAnalyser
testAnalyserTTbarOnly
testMatching
testGenJets
testSkims
testTFs
testWeights
