*.d
*.dylib
*.o
*.pcm
*.png
*.root
*.root.bk
*.so
*.tex
*.txt
*.xml.bk
*Class.C
*Class.h
Dict*
NtupleContent/
NtupleOutput/
Ntupler_an_Isis.cc
OutputLikelihood/
OutputPlots/
Output*/
Plots*/
Systematics/CalculateSystematics
Systematics/temp/
Systematics/*.tex
Systematics/*.txt
TGraphFits/
archive/
averageMass/
config/GetSamplePaths/*.txt
likelihood/
localgridSubmission/SubmitScripts/
negWeights/
negWeightsCalculator
nohup_/
output*/
test*/
toys/
AverageMassCalculator
GetFitParams
Likelihood
MakeTGraphFromHisto
NtupleAnalyser
NtupleAnalyser_oldReco
NtupleAnalyser__*
Ntupler
Ntupler__*
ReducedTopMassDistributionGenerator
ReweightTopWidth
ReweightTopWidth2
TopReconstruction
VoigtFitter
VoigtFitter_gen
testAnalyser
testAnalyserTTbarOnly
testGenJets
testLikelihood
testMatching
testMCParts_ntuples
testPU
testSkims
testRFs
testTGraphs
testWeights
